$red: #fa0000;
$green: #009a2a;
$yellow: #fee800;
$blue: #00acff;
$accent-blue: #0b40b1;
$dark-blue: #071e4e;
$grey: #bebdbd;
$white: #ffffff;
$dark-grey: #333333;
$black: #111111;
$light-grey: #f0f0f0;